#content{
    display:block;
    width:100%
}
#tabUnderline {
    z-index: 1
}
.btn-flat{
    width: 100%
}

#container{
    margin:20px;
    
}
table{
    margin-left:auto; 
    margin-right:auto;
  }
.logo{
    width: 100px;
}
.logoLittle{
    width: 40px;
}

#chatTextArea {
    display:block;
    overflow-y: scroll;
    /*max-height: 350px;*/
    resize: none; 
}
.Field{
    display:table;
    resize: none;
    border: 2px solid black; 
}
.FieldRow{
    display:table-row;
    resize: none; 
    clear:both;
}


.cell {
  position: relative;
  height: 2em;
  width: 2em;
  float:left;
  display:table-column;
  border: 1px solid #212121;
}

.cell.clean {
  background:white;
}

.cell.miss {
  background: #b2dfdb;
}
.cell.damaged {
  background: #ff8a80;
}

.cell.killed {
  background: #c62828;
}

.cell.ship {
  background: #212121;
}

