@{
     ViewBag.Title = "SeaBattle";
}

 <div class = "form" id= "content">
     
</div>

<script src="~/Scripts/Home/SignUp.jsx"></script>
<script src="~/Scripts/Home/LogIn.jsx"></script>
<script src="~/Scripts/Home/Registration.jsx"></script>
<script src="~/Scripts/Home/Menu.jsx"></script>
<script src="~/Scripts/Home/Waiting.jsx"></script>
<script src="~/Scripts/Home/PlayField.jsx"></script>
<script src="~/Scripts/Home/Board.js"></script>
<script src="~/Scripts/Home/Index.jsx"></script>