@{
     ViewBag.Title = "SeaBattle";
}

 <div id= "content">
     
</div>

<script src="~/Scripts/Views/SignUp.jsx"></script>
<script src="~/Scripts/Views/LogIn.jsx"></script>
<script src="~/Scripts/Views/Registration.jsx"></script>
<script src="~/Scripts/Views/Menu.jsx"></script>
<script src="~/Scripts/Views/Waiting.jsx"></script>
<script src="~/Scripts/Views/PlayField.jsx"></script>
<script src="~/Scripts/Views/Game.jsx"></script>
<script src="~/Scripts/Views/App.jsx"></script>
<script src="~/Scripts/Views/JoinGame.jsx"></script>
<script src="~/Scripts/Views/LastGames.jsx"></script>
<script src="~/Scripts/Views/Statistic.jsx"></script>
<script src="~/Scripts/Views/TopPlayers.jsx"></script>
<script src="~/Scripts/Helpers/GameStateCtrl.js"></script>
<script src="~/Scripts/Helpers/GlobalStateCtrl.js"></script>
<script src="~/Scripts/Helpers/Board.js"></script>
<script src="~/Scripts/Views/Index.js"></script>